  <div class="row shift-up">
  <ba-card class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-12 " cardTitle="Language Translation"
           baCardClass="animated fadeIn card traffic-panel medium-card with-scroll">
    <languageTranslator></languageTranslator>
  </ba-card>
</div>
  <div class="row">
    <div class="col-md-6">
      <ba-card cardTitle="Picture Uploader" baCardClass="animated fadeIn card traffic-panel medium-card with-scroll">
        <file-upload #fu (change)="fu.upload()" ></file-upload>
        <div  class="imgResponse"><h5>Image Response</h5>
        <div class="row" *ngFor="let item of data" >
          <div class="form-group col-sm-6" >
            <label  >{{item.class}}</label>
          </div>
          <div class="form-group col-sm-6" >
            <label  >{{item.score}}</label>
          </div>
        </div>
        </div>
        <!--<div [ngIf]="item.score">dafgsdfgsdfgsdf</div>-->
      </ba-card>
    </div>
   <!-- <div class="col-md-6">
      <ba-card   cardTitle="Image Details" baCardClass="with-scroll" >
        <div class="row" *ngFor="let item of data" >
          <div class="form-group col-sm-6" >
            <label  >{{item.class}}</label>
          </div>
          <div class="form-group col-sm-6" >
            <label  >{{item.score}}</label>
          </div>
        </div>
      </ba-card>
    </div>-->
  </div>
