<ba-sidebar></ba-sidebar>
<ba-page-top></ba-page-top>

<div class="al-main">
<div class=" al-content">
  <ba-content-top></ba-content-top>
  <div class="row shift-up">

  <ba-card class="col-xlg-6 col-lg-6 col-md-12 col-sm-12 col-12" cardTitle="Todo List"
           baCardClass="xmedium-card userFeed-comply-panel with-scroll userTodo-panel">
    <userTodo></userTodo>
  </ba-card>
  <ba-card class="col-xlg-6 col-lg-6 col-md-12 col-sm-12 col-12" cardTitle="Feed"
           baCardClass="large-card with-scroll feed-panel">
    <userFeed></userFeed>
  </ba-card>
  <!--<ba-card class="col-xlg-6 col-lg-6 col-md-12 col-sm-12 col-12" cardTitle="Todo List"
           baCardClass="xmedium-card userFeed-comply-panel with-scroll languageTranslatorModule-panel">
    <languageTranslatorModule></languageTranslatorModule>
  </ba-card>-->
</div>
  <div class="col-xlg-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <ba-card cardTitle="Calendar"
             baCardClass="xmedium-card userFeed-comply-panel with-scroll userCalendar-panel">
     <userCalendar></userCalendar>
    </ba-card>
  </div>
</div>
</div>
