<!--<h1>Settings page</h1>-->



<div class="auth-main">
  <div class="auth-block">
  <h1>SETTINGS</h1>
    <label >Select your choice</label>
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button (click)="Action1()" class="dropdown-item" type="button">blur</button>
    <button (click)="Action2()" class="dropdown-item" type="button">ng2</button>
    <button (click)="Action3()" class="dropdown-item" type="button">mint</button>
  </div>
</div>

  </div>



</div>



