<div class="feed-messages-container">
  <div class="feed-message" *ngFor="let message of feed" >
    <div class="message-icon" *ngIf="message.image">
      <img class="photo-icon" src="{{ ( message.image  ) }}">
    </div>
    <div class="message-icon" *ngIf ="!message.image">
      <img class="photo-icon" src="/assets/img/iphone.png">
      <span class="sub-photo-icon" [ngClass]="message.type"></span>
    </div>
    <div class="text-block text-message">
      <div class="message-header">
        <span class="author">{{ message.name }} {{ message.surname}}</span>
      </div>
      <div class="message-content line-clamp" [ngClass]="{'line-clamp-2' : !message.expanded}">
        <span *ngIf="message.preview">{{ message.description }} </span>{{ message.description }}
      </div>
      <div class="preview" [ngClass]="{'hidden': !message.expanded}" *ngIf="message.preview">
        <a href="{{ message.link }}" target="_blank">
          <img src="{{ ( message.preview | baAppPicture )}}">
        </a>
      </div>
      <div  class="message-time">
        <div class="ago-time">
          {{ message.location }}
        </div>
      </div>
    </div>
  </div>
</div>
