@import '../../theme/sass/conf/conf';

.getUser {
  cursor: pointer;
}
.modal-title {
  color:#000 !important;
}

:host /deep/ .widgets {
    .data-table-container {
        width: 100%;
        .panel-heading {
            margin-top: 25px;
        }
    }
}
