/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 620px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}
.section {
  margin-top: 2%;
}
.no-pad-bot {
  padding-top: 200px;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #080d15;
  opacity: .5;
}
.container .row {
  margin-left: 0;
  margin-right: 0;
}
.teal-text.text-lighten-2 {
  color: #e1e0e0 !important;
  z-index: 100;
  position: relative;

}
.parallax-container {
  position: relative;
}
.header {
  font-size: 55px;
}
.icons {
  font-size: 55px;
}
.parallax-container .parallax {
  position: static !important;
}
.parallax-container .parallax img {
  display: block;
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;

  }
  .container {
    width: 100%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 100%;
  }
}
  @media only screen and (max-width : 600px) {
    #index-banner .section {
      top: 0;
    }
    .header {
      font-size: 40px;
    }
  }

  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }

  footer.page-footer {
    margin: 0;
  }
.parallax-container[_ngcontent-c2]{
  color:#080d15;
}

.parallax-container[_ngcontent-c1] {
  color:#080d15;
}

.modal .form-group label {
  color: #080d15;

}
input[type=email]:not(.browser-default) {
  color: #080d15;

}
input[type=password]:not(.browser-default) {
  color:#080d15;
}
.modal-body button.btn.btn-default {
  background: #26a69a;

}
input[type=text]:not(.browser-default){
  color:black;
  margin-top: 30px;
}



::-webkit-input-placeholder { /* Chrome */
  color: #080d15;
}
:-ms-input-placeholder { /* IE 10+ */
  color:  #080d15;
}
::-moz-placeholder { /* Firefox 19+ */
  color:  #080d15;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #080d15;
  opacity: 1;

}
/*.parallax-container[_ngcontent-c2]{*/
  /*color:black;*/
/*}*/
.modal-backdrop.show {
  display: none !important;

}

@media (min-width: 576px) {
  .col-sm-10 {
  max-width: 100%;
  }
}
.parallax-container[_ngcontent-c18],.parallax-container[_ngcontent-c9]{
  color:#080d15;
}
.modal {
  width: 600px;
  max-height: 370px;

}

.modal-open {
  margin-right: 0 !important;
}
html {
  overflow-y: scroll !important;
}

.textcolor {
  color:#080d15;
}
.modal-content{
  border:none;
}
.modal .modal-content{
  padding:0px;
}

ul:not(.browser-default)>li{
  list-style-type: none;
}
