<!-- <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <img src="images/image.png" >
      <h2>Logo</h2>
    </div>
  </nav> -->
<div class="home  auth-main"  style="    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    position: absolute;">
  <div class="auth-block" style="    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    background: white;
    color: black;">
    <div id="index-banner" class="parallax-container">
      <div class="overlay"></div>
      <div class="section no-pad-bot">
        <div class="container">

          <br><br>

          <h1 class="header center teal-text text-lighten-2">Wavelabs Starter Kits enable team to jumpstart any App
          </h1>



          <!-- <div class="row center">
            <h5 class="header col s12 light">Text to write</h5>
          </div> -->
          <div class="center">


            <!--<a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1" routerLink="../login">Get Started</a>-->




            <button id="download-button" class="btn-large waves-effect waves-light teal lighten-1 textcolor" data-toggle="modal" data-target="#myModalHorizontal">
              Get Started
            </button>

            <!-- Modal -->
            <div class="modal fade" id="myModalHorizontal"  role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">

                    <h1 class="modal-title">
                      Sign in
                    </h1>

                    <button type="button" class="close"
                            data-dismiss="modal">
                      <span aria-hidden="true">&times;</span>
                      <span class="sr-only">Close</span>
                    </button>
                  </div>



                  <!-- Modal Body -->
                  <div class="modal-body">
                    <a class="margin" routerLink="/register">New to user? Sign up!</a>

                    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal" role="form">
                      <div class="form-group">
                        <!--<div class= "col-sm-4">-->
                        <!--<label  class="control-label"-->
                                <!--for="inputEmail3">User Name</label></div>-->
                        <div class= "col-sm-12">
                          <input formControlName="username" type="text" class="form-control"
                                 id="inputEmail3"  placeholder="User Name"/>
                        </div>
                      </div>

                      <div class="form-group">
                        <!--<div class= "col-sm-4">-->
                        <!--<label class="control-label"-->
                               <!--for="inputPassword3" >Password</label></div>-->
                        <div class= "col-sm-12">
                          <input formControlName="password" type="password" class="form-control"
                                 id="inputPassword3"  placeholder="Password"/>
                      </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-10">
                          <!--<button type="submit" class="btn btn-default">Sign in</button>-->
                          <button [disabled]="!form.valid" type="submit" class="btn btn-default btn-auth">Sign in</button>
                        </div>

                      </div>
                      <a routerLink="/login">Forgot password</a>
                    </form>
                  </div>

                  <!-- Modal Footer -->
                  <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-default"-->
                            <!--data-dismiss="modal">-->
                      <!--Close-->
                    <!--</button>-->
                    <!--<button type="button" class="btn btn-primary">-->
                      <!--Save changes-->
                    <!--</button>-->
                  <!--</div>-->

                </div>
              </div>
            </div>




          </div>

          <br><br>
        </div>
      </div>
      <div class="parallax banner-img"><img src="/assets/images/background1.jpeg" alt="Unsplashed background img 1"></div>
    </div>


<div class="container">
  <div class="section sectionTwo">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h1 class="center brown-text icons"><i class="material-icons">flash_on</i></h1>
          <h2 class="center">Functional Features</h2>

          <!--<p class="center">-->
          <ul class="center">
          <li>User Signup</li>
          <li>User Login/ Logout</li>
          <li>Search/ Results screen</li>
          <li>Navigation</li>
        </ul>



        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h1 class="center brown-text icons"><i class="material-icons">group</i></h1>
          <h2 class="center">Services/ Architecture</h2>

          <ul class="center">
            <li>Grails based Authentication services</li>
            <li>API server based on NodeJS</li>
            <li>Support for multiple technology stacks</li>
          </ul>


        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h1 class="center brown-text icons"><i class="material-icons">settings</i></h1>
          <h2 class="center">Ready to deploy</h2>

          <ul class="center">
            <li>Deployable in Cloud based or On Premise environments</li>
            <li> Integrated with Jenkins based DevOps Platform</li>
          </ul>

        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container ">
  <div class="overlay"></div>
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <!--  <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/assets/images/setting.jpg" alt="Unsplashed background img 2" height="100%" width="100%"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h2>About Us</h2>
        <p class="left-align light">

          We are designers, coders, nerds, and strategists who expedite the development process to build you cutting-edge products. We perform and innovate at a startup speed for reimagining the future through continuous delivery and iterations. As we drive digital revolution in the right direction, come take a colossal leap with us.

      </div>
    </div>

  </div>
</div>
<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contact us</h5>
        <p class="grey-text text-lighten-4">
         <span class="white-text">Email</span>: info@wavelabs.in
      </div>
    </div>
  </div>
</footer>
</div>
</div>
